<h1 class="text-4xl font-bold text-center">
  National Model Painting Month (NaMoPaiMo)
</h1>
<div class="flex flex-col">
  <p class="text-base my-4">
    Founded by Jennifer Buxton in 2017, National Model Painting Month (NaMoPaiMo) is an internet-based art project that takes place during the month of February. Participants are challenged to paint one model horse between 12:00 a.m. February 1 and 11:59 p.m. February 28. This is not a painting contest. The emphasis is on the act of painting itself. Everyone who completes the challenge is a winner. The NaMoPaiMo Facebook page, in conjunction with the Braymere Custom Saddlery blog, provides participants with tutorials, support and motivation throughout the entire process.
  </p>
  <img src="/img/rules.jpg" class="my-4" alt="NaMoPaiMo Rules">
  <h2 class="text-2xl my-4 font-bold justify-center">
    The Rules
  </h2>
  <p class="text-base my-4">
    The goal of NaMoPaiMo is to encourage, empower and educate hobby artists of all skill levels. Participants may use the event in whatever way best suits their needs. That said, there are some rules for people who want to be an official part of NaMoPaiMo.
    <ol>
      <li>Participants must sign up before midnight on January 31. </li>
      <li>Participants must paint one three dimensional model equine. There are no scale or medium requirements, but medallions and models of other animals are not permissible. </li>
      <li>Models may be customized, prepped and primed before the start of NaMoPaiMo. However, the entirety of the finishwork must be completed between 12:01 AM February 1 and 11:59 PM February 28. </li>
      <li>To complete the challenge, one photo of the finished model must be uploaded to the NaMoPaiMo website using the completion code you received at registration.</li>
    </ol>
  </p>

  <h2 class="text-2xl my-4 font-bold justify-center">
    Registration
  </h2>
  <p class="text-base my-4">
    Participants must via our <a href="/">online registration form</a>.

    The NaMoPaiMo registration period runs from 12:01 AM January 1 through 12:00 AM January 31.

    One entry per person. Although participants are encouraged to paint as many models as they can during the NaMoPaiMo period, only one model can be their official NaMoPaiMo horse. Please choose carefully. Registration is a commitment, and participants will not be able to change their minds after the fact.

    Participants are not required to provide their complete address. However, only entries with addresses written in English/Latin characters will be eligible for prizes.
  </p>

  <h2 class="text-2xl my-4 font-bold justify-center">
    Entry fees
  </h2>
  <p class="text-base my-4">
    All participants will be asked to pay an optional $2 entry fee. Please send it to namopaimo@gmail.com using the Goods and Services option.
  </p>

  <h2 class="text-2xl my-4 font-bold justify-center">
    Prizes
  </h2>
  <p class="text-base my-4">
    Everyone who finishes NaMoPaiMo is a winner, and some of the winners will receive prizes. These will be distributed by Jennifer, both at random and for merit. Merit prizes will be awarded to people who display exceptional effort and enthusiasm and are a positive contributor to the NaMoPaiMo community. With more than a thousand participants expected, not all winners will receive prizes. These are a bonus and should be viewed as such!
  </p>

  <h2 class="text-2xl my-4 font-bold justify-center">
    Facebook Page
  </h2>
  <p class="text-base my-4">
    Although it is not required, entrants are encouraged to participate on <a href="https://www.facebook.com/groups/234123470349077/">the NaMoPaiMo Facebook group</a>.

    This is the best place to share progress photos, ask for advice and support other NaMoPaiMo participants.

    Some of the Facebook page's content will be re-posted on the Braymere Custom Saddlery blog. Participants who do not want their words or pictures to be shared, must let Jennifer know in advance.
  </p>

  <h2 class="text-2xl my-4 font-bold justify-center">
    NaMoPaiMo parties
  </h2>
  <p class="text-base my-4">
    We love NaMoPaiMo parties, but not during a pandemic. Please stay home and stay safe.
  </p>

  <h2 class="text-2xl my-4 font-bold justify-center">
    Contact Information
  </h2>
  <p class="text-base my-4">
    NaMoPaiMo@gmail.com
  </p>

  <h2 class="text-2xl my-4 font-bold justify-center">
    Previous Years
  </h2>
  <div class="my-4 flex flex-row">
    <div class="text-sm mx-2">
      <img src="/img/2017.jpg" alt="2017">
      2017
    </div>
    <div class="text-sm mx-2">
      <img src="/img/2018.jpg" alt="2018">
      2018
    </div>
  </div>
  <div class="my-4 flex flex-row">
    <div class="text-sm mx-2">
      <img src="/img/2019.jpg" alt="2019">
      2019
    </div>
    <div class="text-sm mx-2">
      <img src="/img/2020.jpg" alt="2020">
      2020
    </div>
  </div>
  <div class="my-4 flex flex-row">
    <div class="text-sm mx-2">
      <img src="/img/2021.jpg" alt="2019">
      2021
    </div>
    <div class="text-sm mx-2">
    </div>
  </div>
</div>
