<div class="flex flex-col">
  <h1 class="text-4xl font-bold text-center">
    Congratz! You are registered!
  </h1>
  <h2 class="text-xl font-bold text-center">
    Your completion code is: <%=code%>
  </h2>
  <p class="text-base">
    <i>
      You will receive an email containing your completion code. It is extremely important that you do not lose this code. You will need it to upload a photo of your completed entry at the end of the event. This is the only way to officially "win" NaMoPaiMo.
      Please remember to check your spam folder!
    </i>
  </p>
</div>
