<div class="flex flex-col">
  <h1 class="text-4xl font-bold text-center">
    Congratulations! You are officially registered for NaMoPaiMo 2022.
  </h1>
  <h2 class="text-xl font-bold text-center">
    Your completion code is: <%=code%>
  </h2>
  <p class="text-base">
    <i>
      You will receive a confirmation email containing the completion code. Do not lose it. You will need this code to upload a photo of your finished entry. Please remember to check your spam folder!
    </i>
  </p>
</div>
