<h1 class="text-4xl font-bold text-center">
  Completion
</h1>
<div class="flex flex-col">
  <h2 class="text-2xl font-bold text-center">
    Congratz! Your completion is recorded!
  </h2>
  <p class="text-base">
    Now its time to sit back and enjoy as everyone else finishes theirs! You can watch the <a href="/stats">live statistics</a> to see them as they complete. Thank you for participating in another year!
  </p>
</div>
